[Unit]
Description=My basic service
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=pi
Group=pi
WorkingDirectory=/home/pi/Desktop/automate
EnvironmentFile=/usr/bin/python3
ExecStart=/home/pi/Desktop/automate/flask-mark3.py
Restart=on-failure
# If there is an error for restarting comment the "Restart=" option
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
